#booth_design {
  .banner {
    position: relative;
    margin-bottom: $padding-y * 5;

    @include media-breakpoint-up(lg) {
      margin-bottom: $padding-y * 10;
    }

    .image {
      img {
        height: 100vh;
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 20px;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }

    .content {
      padding: 20px;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include media-breakpoint-up(lg) {
        padding-bottom: $padding-y * 5;
      }

      .keypoint {
        display: flex;

        @include media-breakpoint-up(lg) {
          padding-left: calc((100vw - $lg-max-width - 20px) / 2);
        }

        @include media-breakpoint-up(xl) {
          padding-left: calc((100vw - $xl-max-width - 20px) / 2);
        }

        @include media-breakpoint-up(xxl) {
          padding-left: calc((100vw - $xxl-max-width - 20px) / 2);
        }

        div {
          line-height: 1.5;

          &:nth-child(2) {
            margin: 0 20px;

            @include media-breakpoint-up(sm) {
              margin: 0 20px * 4;
            }
          }

          span {
            &::before {
              content: "\a";
              white-space: pre;

              @include media-breakpoint-up(sm) {
                white-space: normal;
              }
            }
          }
        }
      }

      .icons {
        display: flex;
        flex-direction: column;
        min-width: 30px;
        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }

        img {
          width: 30px;
          height: 30px;
        }

        @include media-breakpoint-up(lg) {
          img {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
  }

  p, ol {
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  .btn {
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      padding: $padding-y 20px * 5;
    }
  }

  .center {
    text-align: center;
  }

  .section {
    margin-bottom: $padding-y * 10;

    @include media-breakpoint-up(lg) {
      margin-bottom: $padding-y * 15;
    }
  }

  .wrapper {
    button {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background-color: transparent;
      margin-bottom: $padding-y * 5;
      font-size: 32px;
      &:hover {
        color: $black;
      }
      img {
        margin-right: 20px * 2;
        margin-bottom: 0;
      }
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $padding-y * 10;

      @include media-breakpoint-up(lg) {
        margin-bottom: $padding-y * 15;
      }
    }
  }

  .flexbox_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flexbox {
      flex-basis: 100%;
      @include media-breakpoint-up(lg) {
        &:first-child {
          flex-basis: auto;
        }
        &:nth-child(2) {
          margin-left: 2.2%;
          flex-basis: 31.8%;
          img {
            margin-bottom: 20px;
          }
        }
      }
      @include media-breakpoint-up(xl) {
        &:nth-child(2) {
          margin-left: 20px;
          flex-basis: 26.6%;
        }
      }
      @include media-breakpoint-up(xxl) {
        &:nth-child(2) {
          flex-basis: 22.9%;
          img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}