#brand_design {
  .banner {
    position: relative;
    margin-bottom: $padding-y * 5;

    @include media-breakpoint-up(lg) {
      margin-bottom: $padding-y * 10;
    }

    .image {
      img {
        height: 100vh;
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 20px;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }

    .content {
      padding: 20px;
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include media-breakpoint-up(lg) {
        padding-bottom: $padding-y * 5;
      }

      .keypoint {
        display: flex;
        div {
          line-height: 1.5;

          &:nth-child(2) {
            margin: 0 20px;

            @include media-breakpoint-up(sm) {
              margin: 0 20px * 4;
            }
          }

          span {
            &::before {
              content: "\a";
              white-space: pre;

              @include media-breakpoint-up(sm) {
                white-space: normal;
              }
            }
          }
        }
      }

      .icons {
        display: flex;
        flex-direction: column;
        min-width: 30px;
        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }

        img {
          width: 30px;
          height: 30px;
        }

        @include media-breakpoint-up(lg) {
          img {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
  }

  p,
  ol {
    font-size: 16px;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  .btn {
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      padding: $padding-y 20px * 5;
    }
  }

  .center {
    text-align: center;
    button {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background-color: transparent;
      margin-bottom: $padding-y * 5;
      font-size: 32px;
      &:hover {
        color: $black;
      }
      img {
        margin-right: 20px * 2;
        margin-bottom: 0;
      }
    }

    img {
      margin-bottom: $padding-y * 5;
    }
  }
  .wrapper {
    @include media-breakpoint-up(lg) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .section {
    margin-bottom: $padding-y * 10;

    @include media-breakpoint-up(lg) {
      margin-bottom: $padding-y * 15;
    }
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &.two {
      .image {
        flex-basis: 100%;
        margin-bottom: 5px;
        @include media-breakpoint-up(lg) {
          flex-basis: 50%;
          &:nth-child(2n-1) {
            padding-right: 20px * 0.25;
          }
          &:nth-child(2n) {
            padding-left: 20px * 0.25;
          }
        }
      }
    }
    &.three {
      .image {
        margin-bottom: 5px;
        @include media-breakpoint-up(lg) {
          flex-basis: 33%;
        }
      }
    }
  }

  .ref {
    position: relative;
    margin-bottom: $padding-y * 5;
    img {
      margin-bottom: 0;
    }
    .cover {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;
      width: auto;
      height: auto;
      max-width: 45%;
    }
  }
}