#digital {
  .banner {
    .image {
      &::before {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  h2 {
    text-align: start;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    .box {
      &:first-child {
        flex-basis: 55.6%;
      }
      &:last-child {
        flex-basis: 44.4%;
      }
      .wrapper {
        img {
          max-width: 50%;
        }
      }
    }
  }
  .phone {
    img {
      max-width: 50%;
    }
    @include media-breakpoint-up(xl) {
      position: relative;
      text-align: start;
      height: 1100px;
      img {
        max-height: 600px;
      }
      >img:first-child {
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-15deg);
      }
      >img:last-child {
        position: absolute;
        top: 500px;
        right: 100px;
        transform: rotate(15deg);
      }
    }
  }

}