#digital {
  .section {
    margin-bottom: 100px;
    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        margin-bottom: 250px;
      }
    }
  }
  .banner {
    margin-bottom: 100px;
    .image {
      &::before {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  h2 {
    text-align: start;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .box {
      &:first-child {
        flex-basis: 48%;
      }
      &:last-child {
        flex-basis: 40.4%;
      }
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        img {
          max-width: 48%;
          @include media-breakpoint-up(lg) {
            max-width: 49%;
          }
        }
        +img {
          margin-bottom: 30px;
          @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
  .phone {
    img {
      max-width: 50%;
    }
    @include media-breakpoint-up(xl) {
      position: relative;
      text-align: start;
      height: 1100px;
      img {
        max-height: 600px;
      }
      >img:first-child {
        margin-top: 100px;
        margin-left: 100px;
        transform: rotate(-15deg);
      }
      >img:last-child {
        position: absolute;
        top: 500px;
        right: 100px;
        transform: rotate(15deg);
      }
    }
  }
  #XHS_landing {
    width: 800px;
  }
  #happy_winter {
    width: 600px;
  }
}