@keyframes icon {
  0%   {top:0px;}
  33%  {top:-50px;}
  66%  {top:-50px;}
  100% {top:0px;}
}
@keyframes arrow-top {
  0% {top: 0px;}
  25% {top: -10px;}
  75% {top: 10px;}
  100% {top: 0px;}
}
$center-x: 50%;
$center-y: 90%;
$offset-x: 150px;
$offset-y: calc(100% - $center-y);
$offset-x-lg: 250px;
$offset-y-lg: calc(100% - $center-y);
$offset-x1: 50vw;
$offset-y1: 100vh;
#home {
  overflow-x: hidden; 
  #greeting {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-bottom: 100px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 200px;
    }
    &.scrolled {
      .banner {
        // clip-path: polygon(
        //   calc($center-x - $offset-x1) calc($center-y - $offset-y1), 
        //   calc($center-x + $offset-x1) calc($center-y - $offset-y1), 
        //   calc($center-x + $offset-x1) calc($center-y + $offset-y1),
        //   calc($center-x - $offset-x1) calc($center-y + $offset-y1) 
        // );
        .overlay {
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(47,47,47,0.5);
        }
        .bg {
          height: 100vh;
          width: 100vw;
        }
      }
      .flexbox {
        .content {
          bottom: 30vh;
          .title {
            color: $white;
          }
          .intro {
            color: $white;
            span {
              color: $white;
            }
          }
          .btn {
            color: $white;
            border-color: $white;
            visibility: visible;
            &:hover {
              border-color: $pink;
            }
          }
        }
      }
    }
    .banner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // transition: all 1s ease-out;
      // clip-path: polygon(
      //   calc($center-x - $offset-x) calc($center-y - $offset-y), 
      //   calc($center-x + $offset-x) calc($center-y - $offset-y), 
      //   calc($center-x + $offset-x) calc($center-y + $offset-y),
      //   calc($center-x - $offset-x) calc($center-y + $offset-y) 
      // );
      // @include media-breakpoint-up(lg) { 
      //   clip-path: polygon(
      //     calc($center-x - $offset-x-lg) calc($center-y - $offset-y-lg), 
      //     calc($center-x + $offset-x-lg) calc($center-y - $offset-y-lg), 
      //     calc($center-x + $offset-x-lg) calc($center-y + $offset-y-lg),
      //     calc($center-x - $offset-x-lg) calc($center-y + $offset-y-lg) 
      //   );
      // }
      .bg {   
        // height: 100%;
        // width: 100%;
        // object-fit: cover;
        transition: all 0.8s ease-out;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        height: 20vh;
        width: 300px;
        @include media-breakpoint-up(lg) { 
          width: 500px;
        }
      }

    }
    .flexbox {
      position: relative;
      height: 100svh;
      max-height: 100vh;
      .content {
        position: absolute;
        z-index: 1;
        height: inherit;
        margin-bottom: 0;
        max-width: 250px;
        bottom: 20vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        transition: all 1s ease-out;
        @include media-breakpoint-up(lg) {
          max-width: 350px;
        }
   
        .title {
          font-weight: 900;
          font-size: 36px;
          margin-bottom: 20px;
          line-height: 1.2;
          @include media-breakpoint-up(lg) {
            line-height: 1.4;
            font-size: 50px;
          }
          span::before {
            content: "\a";
            white-space: pre;
          }
        }
        .intro {
          font-weight: 500;
          font-size: 15px;
          margin-bottom: 30px;
          span {
            color: $pink;
            text-decoration: underline;
          }
          @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
            font-size: 18px;
          }
        }
        .btn {
          padding: 5px 50px;
          visibility: hidden;
          @include media-breakpoint-up(lg) {
            padding: 10px 100px;
            font-size: 18px;
            font-weight: 800;
            border-width: 2px;
          }
        }
      }
    }
  }
  #slogan {
    // background-image: url("../assets//images/icons/mobile_little_icon.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    text-align: center;
    margin-bottom: 100px;
    @include media-breakpoint-up(sm) {
      // background-image: url("../assets//images/icons/little_icon.png");
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 200px;
      // padding: 150px 0;
    }
    &.scrolled {
      .title {
        top: 0;
        opacity: 1;
      }
      p {
        top: 0;
        opacity: 1;
      }

    }
    .title {
      color: $pink;
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 30px;
      position: relative;
      top: 30px;
      opacity: 0;
      transition: all 0.2s;
      @include media-breakpoint-up(lg) {
        font-size: 35px;
      }
    }

    p {
      font-size: 14px;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 30px;
      opacity: 0;
      transition: all 0.2s linear 0.4s;

      @include media-breakpoint-up(lg) {
        font-size: 16px;
        margin-bottom: 50px;
      }

      &.bold {
        font-weight: 700;
        transition: all 0.2s linear 0.6s;
      }
    }
    
    img {
      max-height: 40px;
      position: relative;
      top: 0;
      animation-name: arrow-top;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  #projects {
    margin-bottom: 100px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      max-width: $md-max-width;
      margin-left: auto;
      margin-right: auto;
      padding-right: $grid-gutter-width * 0.5;
      padding-left: $grid-gutter-width * 0.5;
    }
    @include media-breakpoint-up(lg) {
      max-width: $lg-max-width;
    }
    @include media-breakpoint-up(xl) {
      max-width: 900px;
    }
    .project {
      position: relative;
      @include media-breakpoint-up(md) {
        margin-bottom: 150px;
      }
      &.scrolled {
        .image {
          left: 0;
          opacity: 1;
        }
        .content {
          left: 0;
          opacity: 1;
        }
        @include media-breakpoint-up(md) {
          .image {
            left: 0;
            opacity: 1;
          }
          .content {
            left: 45%;
            opacity: 1;
          }
        }
    
        &:nth-of-type(2n-1) {
          @include media-breakpoint-up(md) {
            .image {
              left: 50%;
            }
            .content {
              left: 0;
            }
          }
        }
      }

      &:nth-of-type(2n-1) {
        @include media-breakpoint-up(md) {
          .image {
            left: 60%;
          }
          .content {
            left: -10%;
          }
        }
      }

      .image {
        position: relative;
        text-align: center;
        left: -20%;
        opacity: 0;
        transition: all 0.5s;
        @include media-breakpoint-up(md) {
          width: 50%;
          left: -10%;
          opacity: 0;
          transition: all 0.5s;
        }
      }
      .content {
        position: relative;
        flex-basis: 100%;
        background-color: $gray-100;
        left: 20%;
        opacity: 0;
        transition: all 0.5s linear 0.5s;
        @include media-breakpoint-up(md) {
          width: 55%;
          height: fit-content;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 55%;
          opacity: 0;
          margin-top: auto;
          margin-bottom: auto;
          transition: all 0.5s;
        }
  
        .wrapper {
          padding-top: 40px;
          padding-bottom: 100px;
          @include media-breakpoint-up(md) {
            padding: 20px 40px 40px;
          }
          @include media-breakpoint-up(xl) {
            padding: 40px;
          }
       
          .hashtag {
            word-break: break-all;
            font-size: 10px;
            line-height: 1.8;
            color: #9A9A9A;
            margin-bottom: 50px;
            font-weight: 500;
  
            span {
              margin-right: 20px;
            }
          }
          .title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 50px;
            position: relative;
            line-height: 34px;
            &::after {
              content: "";
              width: 4em;
              border-top: 1px solid $dark;
              position: absolute;
              top: calc(100% + 20px);
              left: 0;
            }
          }
          p {
            margin-bottom: 40px;
            font-size: 14px;
            font-weight: 300;
          }
          .arrow {
            width: 45px;
          }
        }
      }
    }
  }
}

