@keyframes icon {
  0%   {top:0px;}
  33%  {top:-50px;}
  66%  {top:-50px;}
  100% {top:0px;}
}
@keyframes arrow {
  0% {top: 0px;}
  25% {top: -10px;}
  75% {top: 10px;}
  100% {top: 0px;}
}

#home {
  overflow-x: hidden;
  padding-top: $padding-y * 15;
  @include media-breakpoint-up(lg) {
    padding-top: $padding-y * 20;
  }

  #greeting {
    margin-bottom: 200px;
    &.scrolled {
      .flexbox {
        .image_wrapper {
          img {
            animation-name: icon;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
          }
          &::before {
            opacity: 1;
            right: -32%;
            top: 50px;
          }
          &::after {
            opacity: 1;
            right: -15%;
            top: 0;
          }
        }
      }
    }
    .flexbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .content {
        position: relative;
        z-index: 1;
        flex-basis: 60%;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
          flex-basis: 50%;
          // margin-bottom: 0;
        }
        .title {
          font-weight: 700;
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 30px;
          @include media-breakpoint-up(lg) {
            margin-bottom: $padding-y * 5;
            font-size: 60px;
            line-height: 80px;
          }
          @include media-breakpoint-up(xl) {
            font-size: 80px;
            line-height: 100px;
          }
          span::before {
            content: "\a";
            white-space: pre;
          }
        }
        .intro {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          margin-bottom: $padding-y * 5;
          span {
            color: $pink;
            text-decoration: underline;
          }
          @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
            font-size: 38px;
            line-height: 50px;
          }
        }
        .btn {
          text-transform: uppercase;
          @include media-breakpoint-up(sm) {
            padding: $padding-y 20px ;
          }
          @include media-breakpoint-up(md) {
            padding: $padding-y 100px;
          }
        }
      }
      .image_wrapper { 
        flex-basis: 40%;
        text-align: center;
        position: relative;
        @include media-breakpoint-up(lg) {
          flex-basis: 50%;
        }
        img {
          position: relative;
          top: 0;
          transition: top 0.5s linear;
        }
        &::before {
          content: "";
          background-image: url("../assets/images/icons/K_pink.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 100px;
          right: -100%;
          opacity: 0;
          transition: all 0.5s ease 1s;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
        &::after {
          content: "";
          background-image: url("../assets/images/icons/K_trans.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 50px;
          right: 100%;
          opacity: 0;
          transition: all 0.5s;
          width: 100%;
          height: 100%;
        }
      }

    }
  }
  #slogan {
    background-image: url("../assets//images/icons/mobile_little_icon.png");
    background-size: contain;
    background-repeat: repeat;
    text-align: center;
    margin-bottom: 200px;
    &.scrolled {
      .title {
        top: 0;
        opacity: 1;
      }
      p {
        top: 0;
        opacity: 1;
      }

    }
    .title {
      color: $pink;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 30px;
      position: relative;
      top: 30px;
      opacity: 0;
      transition: all 0.2s;
      @include media-breakpoint-up(lg) {
        font-size: 64px;
      }
    }

    p {
      font-size: 14px;
      position: relative;
      top: 30px;
      opacity: 0;
      transition: all 0.2s linear 0.4s;
      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }
      &.bold {
        font-weight: 500;
        transition: all 0.2s linear 0.6s;
      }
    }
    
    img {
      max-height: 40px;
      position: relative;
      top: 0;
      animation-name: arrow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @include media-breakpoint-up(lg) {
        max-height: 110px;
      }
    }
  }
  #projects {
    margin-bottom: $padding-y * 10;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      max-width: $lg-max-width;
      margin-left: auto;
      margin-right: auto;
      padding-right: $grid-gutter-width * 0.5;
      padding-left: $grid-gutter-width * 0.5;
    }
    @include media-breakpoint-up(xl) {
      max-width: $xl-max-width;
    }
    @include media-breakpoint-up(xxl) {
      max-width: $xxl-max-width;
    }
    .project {
      position: relative;
      @include media-breakpoint-up(lg) {
        margin-bottom: $padding-y * 10;
      }
      &.scrolled {
        .image {
          left: 0;
          opacity: 1;
        }
        .content {
          left: 0;
          opacity: 1;
        }
        @include media-breakpoint-up(lg) {
          .image {
            left: 0;
            opacity: 1;
          }
          .content {
            left: 45%;
            opacity: 1;
          }
        }
        &:nth-of-type(2n) {
          @include media-breakpoint-up(lg) {
            .image {
              left: 50%;
            }
            .content {
              left: 0;
            }
          }
        }
      }

      &:nth-of-type(2n) {
        @include media-breakpoint-up(lg) {
          .image {
            left: 60%;
          }
          .content {
            left: -10%;
          }
        }
      }
      &:last-of-type {
        @include media-breakpoint-up(lg) {
          margin-bottom: 450px;
          .image {
            position: relative;
            z-index: 1;
          }
          .content {
            margin-top: unset;
            margin-bottom: unset;
            bottom: unset;
            top: 30%;
            .wrapper {
              @include media-breakpoint-up(lg) {
                padding-right: 80px;
              }
            }
          }
        }
        @include media-breakpoint-up(xl) {
          margin-bottom: 400px;
        }
        @include media-breakpoint-up(xxl) {
          margin-bottom: 350px;
        }
      }
      .image {
        position: relative;
        text-align: center;
        left: -20%;
        opacity: 0;
        transition: all 0.5s;
        @include media-breakpoint-up(lg) {
          width: 50%;
          left: -10%;
          opacity: 0;
          transition: all 0.5s;
        }
      }
      .content {
        position: relative;
        flex-basis: 100%;
        background-color: $gray-100;
        left: 20%;
        opacity: 0;
        transition: all 0.5s linear 0.5s;
        @include media-breakpoint-up(lg) {
          width: 55%;
          height: fit-content;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 55%;
          opacity: 0;
          margin-top: auto;
          margin-bottom: auto;
          transition: all 0.5s;
        }
        .wrapper {
          padding-top: $padding-y * 4;
          padding-bottom: $padding-y * 10;
          @include media-breakpoint-up(lg) {
            padding: $padding-y * 2 40px $padding-y * 4;
          }
          @include media-breakpoint-up(xl) {
            padding: $padding-y * 4 80px $padding-y * 6;
          }
       
          .hashtag {
            word-break: break-all;
            font-size: 16px;
            line-height: 1.8;
            color: $gray-600;
            margin-bottom: $padding-y * 5;
            font-weight: 500;
            span {
              margin-right: 20px;
            }
          }
          .title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: $padding-y * 4;
            position: relative;
            &::after {
              content: "";
              width: 2em;
              border-top: 2px solid $dark;
              position: absolute;
              top: calc(100% + 10px);
              left: 0;
            }
          }
          p {
            margin-bottom: $padding-y * 4;
          }
        }
      }
    }
  }
}

