#mystory {
  .about {
    background-image: url("../assets/images/my_story/cloudy.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    @include media-breakpoint-up(lg) {
      overflow-x: unset;
      margin-bottom: 100px;
    }
    .wrapper {
      padding-top: $padding-y * 15;
      .content {
        background-color: $white;
        padding: $padding-y * 5 20px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100%;
          background-color: $white;
          @include media-breakpoint-up(lg) {
            position: unset;
            background-color: $gray-200;
          }
        }
        @include media-breakpoint-up(lg) {
          padding: $padding-y * 10 40px;
          width: 50%;
          margin-left: auto;
          background-color: $gray-200;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: -3%;
            width: 103%;
            height: 3%;
            background-color: $gray-200;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: unset;
            right: 100%;
            width: 3%;
            height: 100%;
            background-color: $gray-200;
            z-index: 1;
          }
        }
        .title {
          font-size: 30px;
          font-weight: 500;
          margin-bottom: $padding-y * 5;
          position: relative;
          @include media-breakpoint-up(lg) {
            font-size: 40px;
          }
          &::after {
            content: "";
            width: 1.5em;
            border-top: 1px solid $dark;
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
          }
        }
        p {
          font-size: 14px;
          @include media-breakpoint-up(lg) {
            font-size: 24px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          span {
            text-decoration: underline;
            font-weight: 500;
          }
        }
      }
    }
  }
  .resume {
    position: relative;
    .quicklink {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      margin: $padding-y * 5 0;
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 55%;
        z-index: 99;
        margin: 0;
        font-size: 50px;
      }

      img {
        margin-left: 20px;
        height: fit-content;
        align-self: center;
      }
    }
    .wrapper {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;
      }
      .image_wrapper {
        text-align: center;
        background-color: $lightgrey-100;
        @include media-breakpoint-up(lg) {
          img {
            margin-top: 100px;
          }
        }
      }
      .content {
        border: 3px solid $black;
        padding: $padding-y * 4 40px;
        @include media-breakpoint-up(lg) {
          align-self: center;
          position: relative;
          left: -20px;;
        }
        @include media-breakpoint-up(xl) {
          min-width: 550px;
        }
        .name {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: $padding-y * 5;
          position: relative;
          font-size: 20px;
          @include media-breakpoint-up(lg) {
            font-size: 40px;
          }
          &::after {
            content: "";
            width: 1.5em;
            border-top: 2px solid $dark;
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
            @include media-breakpoint-up(lg) {
              border-top: 3px solid $dark;
            }
          }
        }
        .position {
          margin-bottom: $padding-y;
          font-weight: 600;
          font-size: 16px;
          @include media-breakpoint-up(lg) {
            font-size: 25px;
          }
        }
        .email {
          margin-bottom: $padding-y;
          word-break: break-all;
          font-size: 15px;
          font-weight: 300;
          @include media-breakpoint-up(lg) {
            font-size: 25px;
          }
        }
        .tel {
          margin-bottom: $padding-y;
          font-weight: 300;
          font-size: 15px;
          @include media-breakpoint-up(lg) {
            font-size: 25px;
          }
        }
      }
    }
  }
  .my_value {
    background-color: $lightgrey-100;
    margin: $padding-y * 10 0;
    .wrapper {
      padding-top: $padding-y * 5;
      padding-bottom: $padding-y * 5;
      .title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: $padding-y * 5;
        @include media-breakpoint-up(lg) {
          font-size: 36px;
        }
      }
      .slick-slider {
        .slick-slide {
          .flexbox {
            img {
              margin-bottom: $padding-y * 2;
              width: 100px;
              margin-left: auto;
              margin-right: auto;
            }
            .value {
              font-weight: 500;
              font-size: 36px;
              margin-bottom: $padding-y * 2;
              text-align: center;
            }
            p {
              text-align: center;
              font-size: 16px;
              @include media-breakpoint-up(lg) {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}