@import "../variable";

#projects {
  .banner {
    position: relative;
    margin-bottom: $padding-y * 5;
    @media (min-width: $lg) {
      margin-bottom: $padding-y * 15;
    }
    .image {
      position: relative;
      margin-bottom: $padding-y * 5;
      img {
        height: 100vh;
        object-fit: cover;
      }
    }
    .title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 $padding-x;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      @media (min-width: $lg) {
        font-size: 50px;
      }
    }
  }
  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $padding-y * 5;
    @media (min-width: $lg) {
      margin-bottom: $padding-y * 10;
    }
    @include container();
    .image {
      flex-basis: 100%;
      margin-bottom: $padding-y * 5;
      @media (min-width: $sm) {
        flex-basis: 46%;
      }
      @media (min-width: $lg) {
        flex-basis: 47%;
        margin-bottom: $padding-y * 6;
      }
      @media (min-width: $xxl) {
        margin-bottom: $padding-y * 8;
      }
    }
  }
}