#projects {
  .banner {
    position: relative;
    margin-bottom: 50px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 150px;
    }
    .image {
      position: relative;
      margin-bottom: 50px;
      img {
        height: 100vh;
        object-fit: cover;
      }
    }
    .title {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 $container-padding-x;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }
  }
  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
    // @include container();
    .image {
      flex-basis: 100%;
      margin-bottom: 50px;
      @include media-breakpoint-up(sm) {
        flex-basis: 46%;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 47%;
        margin-bottom: 60px;
      }
      @include media-breakpoint-up(xxl) {
        margin-bottom: 80px;
      }
    }
  }
}