#resume {
  position: relative;
  margin-top: $padding-y * 15;
  @include media-breakpoint-up(lg) {
    margin-top: $padding-y * 20;
  }
  #email {
    position: absolute;
    bottom: $padding-y;
    left: 20px;
  }

  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: $padding-y * 5;
    color: $pink;
    position: relative;
    @include media-breakpoint-up(lg) {
      font-size: 25px;
    }
    &::after {
      content: "";
      width: 2em;
      border-top: 1px solid $dark;
      position: absolute;
      top: 150%;
      left: 0;
    }
    &.name {
      font-size: 25px;
      font-weight: 800;
      color: $black;
      @include media-breakpoint-up(lg) {
        margin-bottom: $padding-y * 5;
        font-size: 70px;
      }
      &::after {
        content: "";
        width: 2em;
        border-top: 1px solid $dark;
        position: absolute;
        top: 115%;
        left: 0;
      }
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }

  p {
    font-size: 16px;
    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }

  .btn {
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      padding: $padding-y 100px;
    }
  }
  .section {
    margin-bottom: $padding-y * 10;
    @include media-breakpoint-up(lg) {
      margin-bottom: $padding-y * 15;
    }
  }

  #intro {
    h2 {
      margin-bottom: $padding-y * 3;
      @include media-breakpoint-up(lg) {
        margin-bottom: $padding-y * 5;
      }
    }
    .position {
      font-size: 10px;
      margin-bottom: $padding-y * 3;
      @include media-breakpoint-up(lg) {
        font-size: 20px;
        margin-bottom: $padding-y * 5;
      }
    }
  }

  #experience {
    padding-bottom: $padding-y * 5;
    margin-bottom: $padding-y * 10;
    border-bottom: 1px solid $lightgrey-200;
    @include media-breakpoint-up(lg) {
      padding-bottom: $padding-y * 10;
      margin-bottom: $padding-y * 15;
    }
    .box {
      &:not(:last-child) {
        margin-bottom: $padding-y *5;
        padding-bottom: $padding-y *2;
        border-bottom: 1px solid $lightgrey-200;
        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      p {
        margin-bottom: $padding-y * 3;
      }
    }
  }
  #education {
    padding-bottom: $padding-y * 10;
    @include media-breakpoint-up(lg) {
      padding-bottom: $padding-y * 15;
    }
    .box {
      &:not(:last-child) {
        margin-bottom: $padding-y *5;
      }
    }
  }

  .position {
    margin-bottom: $padding-y * 3;
    svg {
      font-size: 5px;
      color: $lightgrey-200;
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .image {
      background-color: $lightgrey-100;
      display: flex;
      align-items: flex-end;
      flex-basis: 35%;
      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-end;
        flex-basis: 25%;
      }
    }
    .content {
      flex-basis: 60%;
      @include media-breakpoint-up(lg) {
        flex-basis: 70%;
      }
      p {
        font-size: 12px;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
      }
    }
    .box {
      flex-basis: 100%;
      @include media-breakpoint-up(lg) {
        flex-basis: 30%;
      }
    }
  }

}