$header-mobile-height: 54px;

#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: $container-padding-x * 0.5;
  margin-left: $container-padding-x * 0.5;

  &.scrolled {
    top: 0;
    opacity: 1;
  }
  @include media-breakpoint-up(sm) {
    top: -50px;
    opacity: 0;
    transition: all 0.5s ease-out 1.5s;
  }
  @media(min-width: 1500px) {
    margin-left: 8vw;
  }
  img {
    width: 50px;
    @include media-breakpoint-up(sm) {
      width: 70px;
    }
    @include media-breakpoint-up(xl) {
      width: 110px;
    }
  }
}
#menu {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 35px;
  margin-right: $container-padding-x * 0.5;
  &.scrolled {
    top: 0;
    opacity: 1;
  }
  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    top: -50px;
    opacity: 0;
    transition: all 0.5s ease-out 1.5s;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 46px;
  }
  @media(min-width: 1500px) {
    margin-right: 8vw;
  }

  button {
    width: 40px;

    @include media-breakpoint-up(sm) {
      width: 50px;
    }
    @include media-breakpoint-up(xl) {
      width: 80px;
    }

    &:focus-visible {
      border: 2px solid $black;
    }
    transform: rotate(-90deg);
    transition: transform 0.2s;
    &.rotate {
      transform: rotate(-180deg);
    }
    img {
      // background-image: radial-gradient(closest-side at 50% 50%, $white, transparent);
    }
  }
  ul {
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    right: -100vw;
    font-size: 16px;
    transition: right 0.2s;
    text-shadow: 0 0 1em $white;
    // display: none;
    @include media-breakpoint-up(lg) {
      font-size: 25px;
    }
    &.show {
      // display: block;
      right: 0;
    }

    li {
      text-align: center;
      width: max-content;
      &:first-child {
        margin-top: 40px;
      }
      margin-top: 20px;
      @include media-breakpoint-up(lg) {
        margin-left: auto;
        border-bottom: none;
      }
      a {
        img {
          margin-left: 20px;
          max-width: 60px;
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }

    }
  }
}