$header-mobile-height: 54px;
#header {
  position: fixed;
  top: 0;
  z-index: 99;
  margin-top: $padding-y * 3;
  width: 100%;

  #navTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .wrapper {
      @media (min-width: 1600px) {
        max-width: 1550px;
      }
      @media (min-width: 1800px) {
        max-width: 1600px;
      }
    }
    #logo {
      width: 50px;
      @include media-breakpoint-up(sm) {
        width: 70px;
      }
      @include media-breakpoint-up(xl) {
        width: 100px;
      }
    }
    button {
      width: 40px;
      @include media-breakpoint-up(sm) {
        width: 50px;
      }
      @include media-breakpoint-up(xl) {
        width: 80px;
      }
      img {
        transform: rotate(0);
        transition: transform 0.2s;
        &.rotate {
          transform: rotate(-90deg);
        }
      }
    }
  }
  #navMain {
    position: fixed;
    top: $header-mobile-height;
    right: -100%;
    transition: right 0.2s ease;
    width: auto;
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 1600px) {
      margin-right: calc((100% - 1550px) * 0.5);
    }
    @media (min-width: 1800px) {
      margin-right: calc((100% - 1600px) * 0.5);
    }
    &.show {
      right: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        text-align: center;
        padding: 20px 20px;
        @include media-breakpoint-up(lg) {
          margin-left: auto;
          border-bottom: none;
        }
        a {
          img {
            margin-left: 20px;
            max-width: 60px;
            @include media-breakpoint-up(lg) {
              display: none;
            }
          }
        }
  
      }
    }
  }
}