.back-to-top {
  position: fixed;
  bottom: $padding-y * 2;
  right: 20px;
  z-index: 50;
  cursor: pointer;
  img {
    max-height: 44px;
  }
  svg {
    width: 30px;
    height: 30px;
    padding: $padding-y;
    // background-color: $white;
    color: $pink;
    // box-shadow: 2px 2px 3px $grey;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
    &:hover {
      background-color: $pink;
      color: $white;
      box-shadow: none;
    }
    @include media-breakpoint-up(lg) {
      width: 40px;
      height: 40px;
      padding: 20px;
    }
  }
}