.contact {
  text-align: center;
  margin-bottom: $padding-y * 10;
  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: $padding-y * 4;
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
  }
  .btn {
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
      padding: $padding-y $container-padding-x * 5;
    }
  }
}