@import "./font";
@import "variable";
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Nunito', sans-serif;
  margin: 0;
  font-size: 16px;
}

button, .btn {
  cursor: pointer;
  color: $black;
  padding: $padding-y $padding-x * 2;
  border-radius: $border-radius;
  border: 1px solid $black;
  font-weight: 700;
  font-size: 16px;
  @media (min-width: $lg) {
    border: 2px solid $black;
  }
  &:hover {
    background-color: $pink;
    border: 1px solid $pink;
    color: $white;
  }
} 

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $pink;
  }
}

p {
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 300;
  // font-family: 'Nunito', 'Montserrat', sans-serif;
}

ul, ol {
  line-height: 1.8;
  padding-left: 1.5em;
}

img {
  width: auto;
  max-width: 100%;
}
.image {
  img {
    width: 100%;
  }
}

nav {
  font-weight: 700;
  a {
    // color: $white;
  }
}

.back-to-top {
  position: fixed;
  bottom: $padding-y * 2;
  right: $padding-x;
  z-index: 50;
  cursor: pointer;
  img {
    max-height: 44px;
  }
  svg {
    width: 30px;
    height: 30px;
    padding: $padding-y;
    // background-color: $white;
    color: $pink;
    // box-shadow: 2px 2px 3px $grey;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
    &:hover {
      background-color: $pink;
      color: $white;
      box-shadow: none;
    }
    @media (min-width: $lg) {
      width: 40px;
      height: 40px;
      padding: $padding-x;
    }
  }
}
