@import "./font";
@import "variable";
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', 'Nunito', sans-serif;
  margin: 0;
  font-size: 16px;
}

button, .btn {
  cursor: pointer;
  color: $black;
  padding: $padding-y $padding-x * 2;
  border-radius: $border-radius;
  border: 1px solid $black;
  font-weight: 700;
  &:hover {
    background-color: $pink;
    border: 1px solid $pink;
    color: $white;
  }
} 

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $pink;
  }
}

p {
  line-height: 1.8;
  margin-bottom: 50px;
}

ul, ol {
  line-height: 1.8;
  padding-left: 1.5em;
}

.image {
  img {
    width: 100%;
  }
}

nav {
  a {
    color: $white;
  }
}

.backToTop {
  position: fixed;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: $padding-y;
  bottom: $padding-y * 2;
  right: $padding-x;
  // background-color: $white;
  color: $pink;
  // box-shadow: 2px 2px 3px $grey;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
  &:hover {
    background-color: $pink;
    color: $white;
    box-shadow: none;
  }
  @media (min-width: $lg) {
    width: 40px;
    height: 40px;
    padding: $padding-x;
  }
}
